In [4]:
import numpy as np
import pandas as pd

# Creating DataFrames
## Option 1

In [6]:
# creating an array
data = np.array([[1,4],[2,5], [3,6]])

In [13]:
# creating a dataframe
# the additional arguments helps us to name the columns and the rows. The first argument is the data needed to create the dataframe
df= pd.DataFrame(data, index=['row1','row2','row3'],
                columns=['col1','col2'])

In [15]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

## Option 2

In [16]:
# creating an array with a list shape
data = [[1,4],[2,5], [3,6]]

In [17]:
# creating a new dataframe
df= pd.DataFrame(data, index=['row1','row2','row3'],
                columns=['col1','col2'])

In [18]:
# showcasing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

## Creating a DataFrame from a dictionary

In [19]:
# creating a list of items
states = ['California', 'Texas', 'Florida', 'New York']
population = [34553, 1123422, 45777, 4455]

In [20]:
# storing lists with a dictionory
dict_states = { 'States':states, 'Population':population }

In [21]:
# creating the dataframe
df_population = pd.DataFrame(dict_states)

In [22]:
# showing the data frame
df_population

       States  Population
0  California       34553
1       Texas     1123422
2     Florida       45777
3    New York        4455

## Creating a DataFrame from a csv file

In [ ]:
# reading the csv file
df_exams = pd.read_csv('StudentPerformance.csv')

In [ ]:
# show the first 5 rows in a dataframe
df_exams.head()

In [ ]:
# showing all the rows in the csv file