In [1]:
import pandas as pd

In [2]:
# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
# adding a new column
df_exams['language score'] = 'null'

In [ ]:
# adding a new column with an array

In [6]:
# import numpy
import numpy as np

In [10]:
# create an array of 1000 elements
language_score = np.arange(0,1000)

# language_score is an array with 1000 elements that starts from 0 and ends with 999

In [11]:
# length of the array
len(language_score)

1000

In [12]:
# adding a new column to dataframe with an array
df_exams['language_score'] = language_score
# the values of the array created above are populated into the column named language score

In [14]:
# create random integer numbers between 1 and 100
language_score=np.random.randint(1,100,size=1000)
# creates an array of 1000 elements that have values between 1 and 100

In [ ]:
len(np.random.randint(1,100,size=1000))